.container {
    width: 200px;
    height: 70px;
    background-color: rgba(252, 208, 21, 1);
    padding: 10px;
    color: white;
    border-radius: 40px;
    display: flex;
    font-size: 30px;
    text-shadow: 2px 2px 0px rgba(178, 129, 0, 1), -2px -2px 0px rgba(178, 129, 0, 1),
        2px -2px 0px rgba(178, 129, 0, 1), -2px 2px 0px rgba(178, 129, 0, 1);
    box-shadow: 4px 4px rgba(178, 129, 0, 1);
    align-items: center;
    justify-content: center;
}