.container{
    width: 100px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: -3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}